.container {
  width: 1200px;
}
.container-fluid {
  max-width: 1980px;
}

.bg_word {
  background-color: rgba(22, 146, 142, .2);
  color: $primaryDark;
  padding-top: .125rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 800;
  border-radius: 4px;
}

.bg_dark {
  background-color: $bg--dark;
}

.bg_light {
  background-color: $bg--light;
}

.bg_none {
  background-color: transparent;
}

p {
  font-size: 1.1rem;
  color: $color--text3;
}

.title {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.pretitle {
  font-size: 1.2rem;
  color: $primary;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

.logo_box {
  display: flex;
  align-items: center;
  color: $color--text1;
  font-weight: 600;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

.logo_highlighted {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: .15em;
  padding-left: 1.5em;
  background-color: $primaryTransp;
  margin-right: .2em;
  color: $primary;
}

.section, header {
  max-width: 1980px;
  margin: auto;
}

.mx-6 {
  margin-left: 11rem;
  margin-right: 11rem;
}

.mb-fix {
  margin-bottom: 2.2rem;
}


// scroll page senza max width

.scroll_top {
  position: fixed;
  padding: .5rem;
  margin: 1rem;
  right: 0;
  bottom: 0;
  z-index: 200;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $color--text1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .2;
  cursor: pointer;
  .fa-arrow-up {
    font-size: 1.4rem;
  }
}
.scroll_top:hover {
  opacity: 1;
  box-shadow: 10px 10px 20px 1px #8b898930;
}


