
.container {
    width: 1200px;
  }
.container-fluid {
  max-width: 1980px;
}

.bg_word {
  background-color: rgba(22, 146, 142, .2);
  color: $primaryDark;
  padding-top: .125rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 800;
  border-radius: 4px;
}

.bg_dark {
  background-color: $bg-dark;
}

.bg_light {
  background-color: $bg_light;
}

.bg_none {
  background-color: transparent;
}

p {
  font-size: 1.1rem;
}

.title {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.pretitle {
  font-size: 1.2rem;
  color: $primary;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: inline-block;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

.logo_box {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}
.logo_highlighted {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: .5em;
  padding-left: 1.5em;
  background-color: rgba(0, 255, 255, .2);
  margin-right: .2em;
}

.section, header {
  max-width: 1980px;
  margin: auto;
}

.mx-6 {
  margin-left: 10rem;
  margin-right: 10rem;
}
