$height--top_header: 2.5rem;
$height--bot_header: 5rem;
$height--header: $height--top_header + $height--bot_header;
$height--line-break: 4px;
$height--card-icon-box: 40px;

$primary: #16928E;
$primaryDark: #058283;
$primaryTransp: rgba(22, 146, 142, 0.2);
$bg--dark: #111117;
$bg--header: #21333E;
$bg--card: #19191F;
$bg--light: #EEF4ED;
$color--text1: #BCC3D0;
$color--text2: #C9C5C1;
$color--text3: #69696D;
$bg--form: #ECECEC;