$height--top_header: 2.5rem;
$height--bot_header: 5rem;
$height--header: $height--top_header + $height--bot_header;
$height--line-break: 4px;
$height--card-icon-box: 40px;

$primary: #16928E;
$bg--header: #21333E;
$color--text1: #BCC3D0;
$color--text2: #C9C5C1;